<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="{{ "/" | relative_url }}" class="navbar-brand">cryptographic.party</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#primaryNavbar" aria-controls="primaryNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="primaryNavbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="#vpn" class="nav-link">VPN</a>
      </li>
    </ul>

    <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{{ "/blog" | relative_url }}" class="nav-link">Blog</a>
        </li>
        <li class="nav-item">
          <a href="{{ "/about" | relative_url }}" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/cryptographic-party/cryptographic-party.github.io" class="nav-link"><i class="fa fa-github"></i></a>
        </li>
      </ul>
  </div>
</nav>
