---
layout: default
---

{% include jumbotron.html %}

<div class="container">
  <div class="card-columns">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">VPN</h4>
        <h6 class="card-subtitle mb-2 text-muted">encrypting your network traffic</h6>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex qui quas vitae pariatur id excepturi odit, mollitia doloremque, hic nobis nulla temporibus numquam deserunt harum animi eos voluptatum accusantium vero?</p>
        <a href="{{ "/tools/vpn" | relative_url }}" class="btn btn-primary">Learn more</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Email</h4>
        <h6 class="card-subtitle mb-2 text-muted">keeping your communications private</h6>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex qui quas vitae pariatur id excepturi odit, mollitia doloremque, hic nobis nulla temporibus numquam deserunt harum animi eos voluptatum accusantium vero?</p>
        <a href="{{ "/tools/email" | relative_url }}" class="btn btn-primary">Learn more</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Cryptocurrency</h4>
        <h6 class="card-subtitle mb-2 text-muted">securing your finances</h6>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex qui quas vitae pariatur id excepturi odit, mollitia doloremque, hic nobis nulla temporibus numquam deserunt harum animi eos voluptatum accusantium vero?</p>
        <a href="{{ "/tools/cryptocurrency" | relative_url }}" class="btn btn-primary">Learn more</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Web Browser</h4>
        <h6 class="card-subtitle mb-2 text-muted">avoiding trackers</h6>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex qui quas vitae pariatur id excepturi odit, mollitia doloremque, hic nobis nulla temporibus numquam deserunt harum animi eos voluptatum accusantium vero?</p>
        <a href="{{ "/tools/cryptocurrency" | relative_url }}" class="btn btn-primary">Learn more</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Operating System</h4>
        <h6 class="card-subtitle mb-2 text-muted">lorem ipsum</h6>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex qui quas vitae pariatur id excepturi odit, mollitia doloremque, hic nobis nulla temporibus numquam deserunt harum animi eos voluptatum accusantium vero?</p>
        <a href="{{ "/tools/cryptocurrency" | relative_url }}" class="btn btn-primary">Learn more</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Instant Messaging</h4>
        <h6 class="card-subtitle mb-2 text-muted">lorem ipsum</h6>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex qui quas vitae pariatur id excepturi odit, mollitia doloremque, hic nobis nulla temporibus numquam deserunt harum animi eos voluptatum accusantium vero?</p>
        <a href="{{ "/tools/cryptocurrency" | relative_url }}" class="btn btn-primary">Learn more</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Passwords</h4>
        <h6 class="card-subtitle mb-2 text-muted">lorem ipsum</h6>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex qui quas vitae pariatur id excepturi odit, mollitia doloremque, hic nobis nulla temporibus numquam deserunt harum animi eos voluptatum accusantium vero?</p>
        <a href="{{ "/tools/passwords" | relative_url }}" class="btn btn-primary">Learn more</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hardware</h4>
        <h6 class="card-subtitle mb-2 text-muted">lorem ipsum</h6>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex qui quas vitae pariatur id excepturi odit, mollitia doloremque, hic nobis nulla temporibus numquam deserunt harum animi eos voluptatum accusantium vero?</p>
        <a href="{{ "/tools/cryptocurrency" | relative_url }}" class="btn btn-primary">Learn more</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Search Engine</h4>
        <h6 class="card-subtitle mb-2 text-muted">lorem ipsum</h6>
        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex qui quas vitae pariatur id excepturi odit, mollitia doloremque, hic nobis nulla temporibus numquam deserunt harum animi eos voluptatum accusantium vero?</p>
        <a href="{{ "/tools/cryptocurrency" | relative_url }}" class="btn btn-primary">Learn more</a>
      </div>
    </div>
  </div>
</div>