---
layout: default
---

<div class="container mt-4">
  <article class="card" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="card-body">
      <h4 class="card-title">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span itemprop="name headline">{{ page.title | escape }}</span>
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished" class="text-muted small">{{ page.date | date: date_format }}</time>
      </h4>
      <div class="card-text" itemprop="articleBody">{{ content }}</div>
    </div>
  </article>
</div>